{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
{% set COLORS = {"fire": "#ffeeee", "police": "#eeeeff", "ambulance":  "#eeffee"} %}
{% set SERVICES = {"fire": "Пожарная", "police": "Полиция", "ambulance":  "Скорая"} %}
{% set STATUSES  = {"received": "Принят", "serviced": "Выполняется", "finished":  "Завершен"} %}

<br>
{% if current_user.is_authenticated %}
    <a href="/add_call" class="btn btn-secondary">Новый вызов</a>
{% endif %}
<br>
<h2 align="center">Вызовы аварийных служб</h2>
<br>
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="2%" bgcolor="#dddddd" align="center">Номер</td>
            <td class="title" width="5%" bgcolor="#dddddd" align="center">Время</td>
            <td class="title" width="40%" bgcolor="#dddddd" align="center">Сообщение</td>
            <td class="title" width="35%" bgcolor="#dddddd" align="center">Адрес</td>
            <td class="title" width="4%" bgcolor="#dddddd" align="center">Служба</td>
            <td class="title" width="6%" bgcolor="#dddddd" align="center">Статус</td>
            <td class="title" width="8%" bgcolor="#dddddd" align="center">Действия</td>
        </tr>
        {% for call in calls %}
            {% set color = COLORS[call.service]  %}
        <tr class="my_row">
            <td class="ordinary" bgcolor ={{color}} align="center">{{ call.id }}</td>
            <td class="ordinary" bgcolor ={{color}}>{{ call.call_time.strftime("%d.%m.%Y %H:%M:%S") }}</td>
            <td class="ordinary" bgcolor ={{color}}>{{ call.message }}</td>
            <td class="ordinary" bgcolor ={{color}}>
                <span class="ymaps-geolink">
                        {{ call.address }}
                </span>
            </td>
            <td class="ordinary" bgcolor ={{color}}>
                {{ SERVICES[call.service] }}
            </td>
            <td class="ordinary" bgcolor ={{color}} align="center">{{ STATUSES[call.status] }}</td>
            <td class="ordinary" bgcolor ={{color}} align="center">
                {% if current_user.is_authenticated %}
                <div>       <a href="/calls/{{ call.id }}" class="btn btn-warning">.....</a>
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}