{% extends "base.html" %}

{% block content %}
<h1> Редактирование вызова </h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}
        <a href="/delete_call/{{ form.call_id }}" class="btn btn-danger"> Удалить вызов </a> &nbsp;&nbsp;
        Время приема: {{ moment(form.call_time).format("DD.MM.YYYY HH:mm:ss") }} &nbsp;&nbsp;
        {% if form.status.data == "finished" %}
            Время завершения: {{ moment(form.finish_time).format("DD.MM.YYYY HH:mm:ss") }}
        {% else %}
            Вызов еще обслуживается
        {% endif %}
    </p>
    <p>
        {{ form.message.label }}<br>
        {{ form.message(class="form-control") }}
        {% for error in form.message.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.service.label }}<br>
        {% for subfield in form.service %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}
        {% for error in form.service.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.status.label }}<br>
        {% for subfield in form.status %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
        {% endfor %}
        {% for error in form.status.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}
        <br>
        {% for error in form.address.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {% if form.point %}
            <img src="https://static-maps.yandex.ru/1.x/?ll={{form.point}}&size=300,300&z=16&l=map&pt={{form.point}},comma">
        {% endif %}
    </p>
    {{message}}
</form>
{% endblock %}
